body {
  font-family: 'Roboto', sans-serif;
  color: #716D3E;
}

.App {
  text-align: center;
}

.banner-image {
  height: 250px;
  width: 960px;
}

nav {
  background-color: #D9D9D9;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #D9D9D9, #ECECEC);
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
  font-family: 'YourCustomFont', sans-serif; /* Add your custom font */
}

nav ul li:hover {
  background-color: #c0c0c0;
  transition: background-color 0.3s ease;
}

nav ul li.active {
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: #716D3E;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

.banner {
  background-color: #F4FFF5;
}

.about-us {
  background-color: #D9D9D9;
}

.testimonials {
  background-color: #F4FFF5;
}

.contact {
  background-color: #D9D9D9;
}

.section-content {
  display: flex;
  align-items: center;
}

.section-image-left {
  margin-right: 20px; 
}

.section-image-right {
  margin-left: 20px; 
}

/* Responsive design */
@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}
